<header class="container">
  <h1><a href="/"> Safe U</a></h1>
     <nav>
          <ul> 
               <li> <a href="/">Home</a></li>
               <li><a href="/about">About us</a></li>
               <li><a href="/sti">STIs Information Center </a></li>
               <li><a href="/tips">Prevention Tips</a></li>
               <li><a href="/results">Get Tested</a></li>
               <li><a href="/resources">Resources</a></li>
               <li><a href="/login"><img src="/uploads/login.png" alt=""></a></li>
          </ul>
     </nav>
</header>

